.App {
  background-color:#007bff;
 height:100vh;
 
}

.Pricinglist{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.PricelistFree{
  width:25%;
}
.PricelistPlus{
  width:25%;
}

.PricelistPro{
  width:25%;
}

h6{
  text-align:center;
  text-transform:uppercase;
  font-size:0.8rem;
  font-weight:bold;
  color:#b7b1b1;
  padding:5px;
}

p{
  text-align:center;
  font-size: 0.6rem;
  
}
span{
  font-size:2.5rem;
  font-weight:bold;
}

.line{
  margin:5%;
  height:1px;
  background-color:#b7b1b1;
 
}

li{
  list-style-type: none;
  font-size:0.8rem;
  line-height: 240%;
  
}
button {
        background-color: #007bffb0;
        color: white;
        border-radius: 1.5rem;
        text-transform: uppercase;
        width:90%;
        height:2.5rem;
        margin:1rem;
         border: none;
         font-weight:bold;
         font-size: 0.6rem;
         letter-spacing: 1px;
    }

.container-Price{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.container-Features{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
.shady-Features{
  color:#b7b1b1;
}

button:hover {
  background-color:#007bff;
}